// NULLING
@import "null.scss";
// MIXINS
@import "mixins.scss";

$fontfamily: 'Fira Sans', sans-serif;

body {
  font-family: $fontfamily;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.row {

}

/*=========Header==============*/
@import "header.scss";
/*=========Main styles=========*/

//Styles

/*=========Footer==============*/
@import "footer.scss";
